<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">





    <context:component-scan base-package="cc.moondust.message.netty">
        <context:include-filter type="annotation" expression="cc.moondust.message.annotation.MessageSocket"/>
    </context:component-scan>

    <bean id="cnf" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:config/bootstrap.properties</value>
            </list>
        </property>
    </bean>
    <bean id="httpServerCodec" class="io.netty.handler.codec.http.HttpServerCodec"/>
    <bean id="httpObjectAggregator" class="io.netty.handler.codec.http.HttpObjectAggregator">
        <constructor-arg value="65536"/>
    </bean>
    <bean id="chunkedWriteHandler" class="io.netty.handler.stream.ChunkedWriteHandler"/>

</beans>